.page__title_small
  height: 380px
  background: #bebebe url("../img/page_title_small.jpg") no-repeat
  background-size: cover
  display: flex
  padding-left: 100px
  align-items: center
  h1
    font: 50px Roboto
    color: #ffffff
    font-weight: 400

