extends ../base

block title
    | Index page 2

block main
    .bg_nav.active
        .sidenav
            ul
                li
                    a(href='index.html') Home
                li
                    a(href='register.html') register
                li
                    a(href='login.html') login
                li
                    a(href='create.html') create
                li
                    a(href='groups.html') groups
                li
                    a(href='list.html') list
                li
                    a(href='time_line.html') time line
    .timeline
        .page__title_small
            .nav__block
                button.hamburger.hamburger--spin.js-hamburger.is-active(type='button')
                    span.hamburger-box
                        span.hamburger-inner

                div.search__block.isActive
                    input(name='search')
                    i.fas.fa-search.active
            h1 Timeline
        .timeline__day
            span.timeline__titile MONDAY, FEB 8, 2015
            ul.timeline__day-list
                li
                    span.timeline__description Call with Ryan
                    .timeline__info
                        span.time 2pm
                        span.plcase Restaurant
                li.finished
                    span.timeline__description Call with Ryan
                    .timeline__info
                        span.time 2pm
                        span.plcase Restaurant
                li
                    span.timeline__description Call with Ryan
                    .timeline__info
                        span.time 2pm
                        span.plcase Restaurant
        .timeline__day
            span.timeline__titile MONDAY, FEB 8, 2015
            ul.timeline__day-list
                li
                    span.timeline__description Call with Ryan
                    .timeline__info
                        span.time 2pm
                        span.plcase Restaurant
                li
                    span.timeline__description Call with Ryan
                    .timeline__info
                        span.time 2pm
                        span.plcase Restaurant
                li
                    span.timeline__description Call with Ryan
                    .timeline__info
                        span.time 2pm
                        span.plcase Restaurant
