extends ../base

block title
    | Index page 2

block main
    .create
        .page__title_small
            .nav__block
                button.hamburger.hamburger--spin.js-hamburger.is-active(type='button')
                    span.hamburger-box
                        span.hamburger-inner
            h1 Add Title
            a(href='').list__add
                i.fas.fa-plus

        .create__data
            form
                .create__description
                    input(type='text' placeholder='Short description' name='task_short_desc').create__input
                .create__duration
                    span From
                    input(type='date' placeholder='' name='from').create__input
                .create__duration
                    span To
                    input(type='date' placeholder='' name='to').create__input
                .create__description
                    input(type='text' placeholder='Location' name='location').create__input

