button.hamburger.hamburger--spin.js-hamburger.is-active(type='button')
    span.hamburger-box
        span.hamburger-inner

nav.nav
    ul
        li
            a(href='index.html') Home
        li
            a(href='register.html') register
        li
            a(href='login.html') login
        li
            a(href='create.html') create
        li
            a(href='groups.html') groups
        li
            a(href='list.html') list
        li
            a(href='time_line.html') time line