extends ../base

block title
    | Index page 2

block main
    .groups
        .page__title_small
            h1 My Groups
        .groups__categories
            ul
                li.groups__item
                    a(href='list.href')
                        span.group__name Shop
                        span.group__count 25 items

                li.groups__item
                    a(href='list.href')
                        span.group__name Shop
                        span.group__count 25 items

                li.groups__item
                    a(href='list.href')
                        span.group__name Shop
                        span.group__count 25 items

                li.groups__item
                    a(href='list.href')
                        span.group__name Shop
                        span.group__count 25 items

                li.groups__item
                    a(href='list.href')
                        span.group__name Shop
                        span.group__count 25 items
                li.groups__item
                    a(href='list.href')
                        span.group__name Shop
                        span.group__count 25 items