body {
  font-size: 16px;
  font-family: Roboto;
  margin: 0;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; }

p, ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: #000;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent; }
a:hover, a:focus {
  color: #000; }
a:visited {
  outline: none; }

h1 {
  margin: 0; }

a:focus, a:hover {
  text-decoration: none;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent; }

input, button {
  outline-width: 0;
  outline-color: transparent; }

.content__wrap {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid #bebebe;
  position: relative; }

.bg_nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.sidenav {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 60px 0 0 30px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 320px;
  z-index: 9; }
.sidenav ul li a {
  color: #818181;
  font-size: 30px; }
.sidenav ul li a:hover {
  color: #f1f1f1; }
.sidenav ul li + li {
  margin-top: 25px; }

.bg_nav.active {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.74);
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }
.bg_nav.active .sidenav {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.hamburger {
  z-index: 9999; }

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: #bebebe; }

.page__title_small {
  height: 200px;
  background: #bebebe url("../img/page_title_small.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 35px;
  position: relative; }
.page__title_small h1 {
  font: 50px Roboto;
  color: #ffffff;
  font-weight: 400;
  padding-left: 77px;
  margin-top: 77px; }

.nav__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
.nav__block .search__block {
  opacity: 0; }
.nav__block .search__block input {
  background: transparent;
  border: none;
  width: 220px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  padding: 0 10px; }
.nav__block .search__block.isActive {
  opacity: 1; }
.nav__block .fa-search {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 7px;
  font-size: 25px;
  color: #000;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }
.nav__block .fa-search:hover {
  color: #bebebe; }
.nav__block .fa-search.active {
  color: #bebebe; }

.list__add {
  position: absolute;
  font-size: 40px;
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff3366;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: -37px;
  right: 31px;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
  z-index: 666; }
.list__add:hover {
  cursor: pointer;
  color: #000; }

.invalid-feedback {
  color: #ac2424;
  padding-left: 79px; }

.fas {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }

a:hover .fa-share {
  color: #000; }

.auth,
.form__register {
  background: #bebebe url("../img/login__bg.jpg") no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form__register {
  background: url("../img/register__bg.jpg") no-repeat; }

.form__auth {
  width: 100%; }
.form__auth .button__form-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer; }
.form__auth .button__form-action:hover {
  background-color: #ef1b50; }

.input__wrap {
  border-bottom: 2px solid #82807f;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.input__wrap .fas {
  position: absolute;
  top: 10px;
  left: 36px;
  color: #939393; }

.input__wrap + .input__wrap {
  margin-top: 15px; }

.input__default {
  border: none;
  background: transparent;
  color: #fff;
  font: 28px Roboto;
  font-weight: 300;
  padding-left: 80px;
  padding-bottom: 5px;
  position: relative; }
.input__default::-webkit-input-placeholder {
  color: #939393;
  opacity: 1; }
.input__default::-moz-placeholder {
  color: #939393;
  opacity: 1; }
.input__default:-ms-input-placeholder {
  color: #939393;
  opacity: 1; }
.input__default::-ms-input-placeholder {
  color: #939393;
  opacity: 1; }
.input__default::placeholder {
  color: #939393;
  opacity: 1; }
.input__default:-ms-input-placeholder {
  color: #939393; }
.input__default:-ms-input-placeholder {
  color: #939393; }
.input__default:before {
  content: ''; }

.button__form-action {
  width: 100%;
  border: none;
  display: block;
  padding: 50px 0;
  background-color: #ff3366;
  color: #fff;
  font: 30px "Roboto"; }

.groups__categories ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.groups__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-calc(50% - 2px);
  width: calc(50% - 2px);
  height: 250px;
  border: 1px solid #000; }
.groups__item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease; }
.groups__item a:hover {
  background: #bebebe; }

.group__name {
  color: #1d1d26;
  font-size: 40px;
  font-weight: 500; }

.group__count {
  color: #1d1d26;
  font-size: 17px;
  font-weight: 400; }

.group__color {
  width: 36px;
  height: 6px;
  margin: 5px auto 0 auto;
  /*TODO remove it when color get from server*/
  background-color: #50d2c2; }

.nav__block .list__total {
  margin-right: 30px;
  color: #bebebe; }

.nav__block .fa-share {
  color: #bebebe; }

.list__tasks {
  position: relative; }
.list__tasks .list__add {
  border: none;
  top: -40px; }
.list__tasks .list__task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  border-bottom: 1px solid #f3f3f4; }
.list__tasks .list__task:hover {
  background-color: #cfcfd7; }
.list__tasks .list__task a {
  padding-left: 50px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 23px;
  position: relative; }
.list__tasks .list__task a:before {
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  left: 11px; }
.list__tasks .list__task_done {
  background-color: #f3f3f4;
  border-left: 5px solid #50d2c2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.list__tasks .list__task_done a:before {
  color: #50d2c2; }

.create__data {
  width: 100%;
  position: relative; }
.create__data .list__add {
  top: -40px;
  border: none; }
.create__data .create__input {
  padding-left: 25px;
  border: none;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid #bebebe;
  height: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.create__data .create__input::-webkit-input-placeholder {
  color: #bebebe;
  opacity: 1; }
.create__data .create__input::-moz-placeholder {
  color: #bebebe;
  opacity: 1; }
.create__data .create__input:-ms-input-placeholder {
  color: #bebebe;
  opacity: 1; }
.create__data .create__input::-ms-input-placeholder {
  color: #bebebe;
  opacity: 1; }
.create__data .create__input::placeholder {
  color: #bebebe;
  opacity: 1; }
.create__data .create__input:-ms-input-placeholder {
  color: #bebebe; }
.create__data .create__input:-ms-input-placeholder {
  color: #bebebe; }

.create__description {
  position: relative; }
.create__description .invalid-feedback {
  bottom: 2px;
  position: absolute;
  left: -53px; }

.create__duration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #bebebe;
  padding-left: 25px;
  position: relative; }
.create__duration span {
  color: #bebebe;
  width: 40px; }
.create__duration .create__input {
  border-bottom: none;
  padding-left: 0;
  margin-left: 50px; }
.create__duration .invalid-feedback {
  bottom: 2px;
  position: absolute;
  left: -53px; }

.timeline .timeline__day {
  width: 100%;
  background-color: #f8f8f8; }

.timeline .timeline__titile {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  color: #a0a0a4;
  padding: 10px 0 10px 25px; }

.timeline__day-list li {
  border-left: 6px solid #50d2c2;
  height: 95px;
  border-bottom: 1px solid #e8e8e9;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 25px; }
.timeline__day-list li:hover {
  background-color: #bebebe;
  cursor: pointer; }

.timeline__day-list li.finished {
  border-left-color: #fcab53; }

.timeline__day-list .timeline__description {
  font-size: 26px; }

.timeline__day-list .timeline__info .time,
.timeline__day-list .timeline__info .plcase {
  color: #8e8e92;
  margin-right: 25px; }

.footer {
  background: #000; }
.is-invalid {
  color: #ac2424;
  transition: color .3s ease;
}
/*# sourceMappingURL=main.css.map */

