@font-face {
  font-family: "FreestyleScript";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FreestyleScript/FreestyleScript.ttf) format("truetype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Bold/Exo2-Bold.ttf) format("truetype");
  src: url(../fonts/Exo2-Bold/Exo2-Bold.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Bold/Exo2-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Bold/Exo2-Bold.woff) format("woff"); }

@font-face {
  font-family: "Exo2-ExtraBold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.ttf) format("truetype");
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Light";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Exo2-Light/Exo2-Light.ttf) format("truetype");
  src: url(../fonts/Exo2-Light/Exo2-Light.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Light/Exo2-Light.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Light/Exo2-Light.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Medium";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Medium/Exo2-Medium.ttf) format("truetype");
  src: url(../fonts/Exo2-Medium/Exo2-Medium.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Medium/Exo2-Medium.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Medium/Exo2-Medium.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Regular/Exo2-Regular.ttf) format("truetype");
  src: url(../fonts/Exo2-Regular/Exo2-Regular.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Regular/Exo2-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Regular/Exo2-Regular.woff) format("woff"); }

@font-face {
  font-family: "Exo2-SemiBold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.ttf) format("truetype");
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.woff) format("woff"); }

@font-face {
  font-family: "Exo2-SemiBoldItalic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.ttf) format("truetype");
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Italic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Italic/Exo2-Italic.ttf) format("truetype");
  src: url(../fonts/Exo2-Italic/Exo2-Italic.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Italic/Exo2-Italic.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Italic/Exo2-Italic.woff) format("woff"); }

@font-face {
  font-family: "Lato-Medium";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Medium/Lato-Medium.ttf) format("truetype");
  src: url(../fonts/Lato-Medium/Lato-Medium.eot) format("embedded-opentype");
  src: url(../fonts/Lato-Medium/Lato-Medium.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-Medium/Lato-Medium.woff) format("woff"); }

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular/Lato-Regular.ttf) format("truetype");
  src: url(../fonts/Lato-Regular/Lato-Regular.eot) format("embedded-opentype");
  src: url(../fonts/Lato-Regular/Lato-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-Regular/Lato-Regular.woff) format("woff"); }

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Bold/Lato-Bold.ttf) format("truetype");
  src: url(../fonts/Lato-Bold/Lato-Bold.eot) format("embedded-opentype");
  src: url(../fonts/Lato-Bold/Lato-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-Bold/Lato-Bold.woff) format("woff"); }

@font-face {
  font-family: "Lato-SemiboldItalic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.ttf) format("truetype");
  src: url(../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.eot) format("embedded-opentype");
  src: url(../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.woff) format("woff"); }

body {
  font-size: 16px;
  font-family: Roboto;
  margin: 0;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; }

p, ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: #000;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent; }
  a:hover, a:focus {
    color: #000; }
  a:visited {
    outline: none; }

h1 {
  margin: 0; }

a:focus, a:hover {
  text-decoration: none;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent; }

input, button {
  outline-width: 0;
  outline-color: transparent; }

.content__wrap {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto; }

.header {
  width: 100%; }

.auth, .form__register {
  background: #bebebe url("../img/login__bg.jpg") repeat;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__register {
  background: url("../img/register__bg.jpg") repeat; }

.form__auth {
  width: 100%; }
  .form__auth .button__form-action {
    position: absolute;
    bottom: 115px;
    left: 0;
    right: 0; }

.input__wrap {
  border-bottom: 2px solid #82807f;
  width: 100%;
  position: relative; }
  .input__wrap .fas {
    position: absolute;
    top: 10px;
    left: 200px;
    color: #939393; }

.input__wrap + .input__wrap {
  margin-top: 15px; }

.input__default {
  border: none;
  background: transparent;
  color: #fff;
  font: 28px Roboto;
  font-weight: 300;
  padding-left: 220px;
  padding-bottom: 5px;
  position: relative; }
  .input__default::-webkit-input-placeholder {
    color: #939393;
    opacity: 1; }
  .input__default::-moz-placeholder {
    color: #939393;
    opacity: 1; }
  .input__default:-ms-input-placeholder {
    color: #939393;
    opacity: 1; }
  .input__default::-ms-input-placeholder {
    color: #939393;
    opacity: 1; }
  .input__default::placeholder {
    color: #939393;
    opacity: 1; }
  .input__default:-ms-input-placeholder {
    color: #939393; }
  .input__default:-ms-input-placeholder {
    color: #939393; }
  .input__default:before {
    content: ''; }

.button__form-action {
  width: 100%;
  border: none;
  display: block;
  padding: 50px 0;
  background-color: #ff3366;
  color: #fff;
  font: 30px "Roboto"; }

.page__title_small {
  height: 200px;
  background: #bebebe url("../img/page_title_small.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 15px; }
  .page__title_small h1 {
    font: 50px Roboto;
    color: #ffffff;
    font-weight: 400;
    padding-left: 77px;
    margin-top: 77px; }

.nav__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .nav__block .search__block {
    opacity: 0; }
    .nav__block .search__block input {
      background: transparent;
      border: none;
      width: 220px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      font-size: 20px;
      color: #fff;
      font-family: Roboto;
      font-weight: 300;
      padding: 0 10px; }
    .nav__block .search__block.isActive {
      opacity: 1; }
  .nav__block .fa-search {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 7px;
    font-size: 25px;
    color: #000;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease; }
    .nav__block .fa-search:hover {
      color: #bebebe; }
    .nav__block .fa-search.active {
      color: #bebebe; }

.groups__categories ul {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.groups__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-calc(50% - 2px);
  width: calc(50% - 2px);
  height: 250px;
  border: 1px solid #f4f4f4; }
  .groups__item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease; }
    .groups__item a:hover {
      background: #bebebe; }

.group__name {
  color: #1d1d26;
  font-size: 40px;
  font-weight: 500; }

.group__count {
  color: #1d1d26;
  font-size: 17px;
  font-weight: 400; }

.group__color {
  width: 36px;
  height: 6px;
  margin: 5px auto 0 auto;
  /*TODO remove in when color get from server*/
  background-color: #50d2c2; }

.footer {
  background: #f2f2f2; }
